/* src/App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f0f0f0;
}

header {
  background: #333;
  display: flex;
  padding: 1em;
  text-align: center;
}

nav {
  align-content: center;
  margin: auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  padding: 0 10px;
  margin: 0 10px;
}

nav ul li a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.content {
  display: flex;
}

aside {
  width: 15%;
  padding: 1em;
  background: #eee;
  align-self: start;
}

main {
  width: 75%;
  padding: 1em;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
  margin-top: 2em;
}

